/* *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgb(47, 8, 41);

}

.generatebox{
      text-align: center;
      background-color: white;
      padding: 30px;
      border-radius: 10px;

}

.generate-value{
      display: block;
      height: 50px;
      width: 100%;
      outline: none;
      margin: 20px 0;
      padding: 0 10px;
      caret-color: rgb(47, 8, 41);
      font-size: 20px;
      position: relative;
}

.copy{
      height: 30px;
    
      
}
.value{
      position: relative;
}
.copy-js{
      position: absolute;
      right: 0;
}

.password-genrate-btn{
      padding: 12px 0;
      width: 100%;
      cursor: pointer;
      border: none;
      background-color: rgb(47, 8, 41);
      color: white;
      font-size: 20px;
      font-weight: 400;
      border-radius: 5px;
} */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgb(47, 8, 41);
}

.generatebox {
      text-align: center;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
}

.generate-value {
      display: block;
      height: 50px;
      width: 100%;
      outline: none;
      margin: 20px 0;
      padding: 0 50px 0 10px;
      caret-color: rgb(47, 8, 41);
      font-size: 20px;
      position: relative;
}

.copy-container {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background-color: rgb(253, 253, 253);
      cursor: pointer;
}

.copy {
      height: 30px;
}

.value-container {
      position: relative;
}

.password-generate-btn {
      padding: 12px 0;
      width: 100%;
      cursor: pointer;
      border: none;
      background-color: rgb(47, 8, 41);
      color: white;
      font-size: 20px;
      font-weight: 400;
      border-radius: 5px;
}
p{
      color: white;

}

.copy-js{
      background-color: rgba(0, 0, 0, 0.175);
       padding: 30px;
      text-align: center;
}